<h3>Create Activities</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form
    method="post"
    [formGroup]="createActivitiesFormGroup"
    (ngSubmit)="onSubmit()"
  >
    <div class="form">
      <mat-form-field  class="form">
        <input
          formControlName="name"
          matInput
          placeholder="name"
          type="text"
          required
          name="name"
          class="form-control"
        />
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field  class="form">
        <input
          formControlName="localisation"
          matInput
          placeholder="localisation"
          type="text"
          required
          name="localisation"
          class="form-control"
        />
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field  class="form">
        <input
          formControlName="content"
          matInput
          placeholder="content"
          type="text"
          required
          name="description"
          class="form-control"
        />
      </mat-form-field>
    </div>
    <div class="form">
        <mat-checkbox

            formControlName="cover"
            matInput
            placeholder="cover"
            type="checkbox"
            name="cover"
            class="form-control"
        >Cover
        </mat-checkbox>
      </div>
      <div class="form">
          <mat-form-field  class="form">
            <input
              formControlName="date"
              matInput
              placeholder="date"
              type="datetime-local"
              required
              name="date"
              class="form-control"
            />
          </mat-form-field>
        </div>
        <button mat-button color="accent" type="submit" [disabled]="!createActivitiesFormGroup.valid" >Submit</button>
        </form>


    <!-- <label for="name">Name</label>

      <input formControlName="name" type="text" class="form-control" id="Name" required name="firstName"> -->

    <!--
    <div class="form-group">
      <label for="name">Localisation</label>

      <input formControlName="localisation" type="text" class="form-control" id="localisation" required name="localisation">
    </div> -->
    <!-- <div class="form-group">
      <label for="name">Description</label>

      <input
        formControlName="content"
        type="text"
        class="form-control"
        id="description"
        required
        name="description"
      />
    </div> -->

    <!-- <div class="form-group">
      <label for="name">Covered by Conserto</label>

      <input
        formControlName="cover"
        type="checkbox"
        class="form-control"
        id="cover"
        name="cover"
      />
    </div> -->

    <!-- <div class="form-group">
      <label for="name">Date</label>

      <input
        formControlName="date"
        type="datetime-local"
        class="form-control"
        id="date"
        required
        name="date"
      />
    </div> -->
    <!--
    <div class="form-group">
      <label for="name">Horraire</label>

      <input formControlName="time" type="time" class="form-control" id="time" required name="time">
    </div> -->


