<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Last name</label>
      <input type="text" [(ngModel)]="user.last_name" placeholder="Name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="designation"> First name</label>
      <input type="text" [(ngModel)]="user.first_name" placeholder="first_name" name="first_name" class="form-control" id="first_name">
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" [(ngModel)]="user.email" placeholder="email" name="email" class="form-control" id="email">
    </div>
    <!-- <div class="form-group">
      <label for="email">Confirm Email:</label>
      <input [(ngModel)]="user.email" placeholder="email"  class="form-control" id="confirm email" >
    </div> -->

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" [(ngModel)]="user.password" placeholder="password" type="password" name="password" class="form-control" id="password">
    </div>
    <!-- <div class="form-group">
      <label for="password">Confirm Password</label>
      <input [(ngModel)]="user.password" placeholder="password" type="password" class="form-control" id="confirm password">
    </div> -->

    <button type="submit" class="btn btn-success">Create</button>
  </form>
  </div>
