<div class="container">
  <h3 mat-dialog-title>Event id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="name" [(ngModel)]="data.name" name="name" required >

      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="localisation" [(ngModel)]="data.localisation" name="localisation" required >

      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="content" [(ngModel)]="data.content" name="content"  required >
      </mat-form-field>
    </div>


    <div class="form">
      <mat-form-field color="accent">
        <input type="datetime-local" matInput #input class="form-control" placeholder="date" [(ngModel)]="data.date" name="date" required >

      </mat-form-field>
    </div>


    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
