<!--
      <table class="table table-striped">
 <thead>
  <tr>
      <th>Id</th>
    <th>Name</th>
    <th>Votes</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let categorie of categories| async  ">
    <td>{{categorie.id}}</td>
    <td>{{categorie.name}}</td>
    <td>{{categorie.nbOfLike}}</td>
    <td><button (click)=voteButtonClick(categorie.id)>VoteFor</button></td>
  </tr>
</tbody>
</table>



 -->
<h1>Survey</h1>
<div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let categorie "> {{categorie.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> FirstName </mat-header-cell>
    <mat-cell *matCellDef="let categorie"> {{categorie.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="nbOfLike">
    <mat-header-cell *matHeaderCellDef> NbOflike </mat-header-cell>
    <mat-cell *matCellDef="let categorie"> {{categorie.nbOfLike}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button matTooltip="VoteFor" class="iconbutton" color="primary">
          <mat-icon aria-label="Edit">Votes</mat-icon>
        </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
  </mat-table>
</div>
