



<div>
<form class="example-form">
  <mat-form-field class="email">
    <input matInput placeholder="Your email" type="text" value="email" name="email" [(ngModel)]="email">
  </mat-form-field>


  <mat-form-field class="password">
    <input matInput placeholder="Your password" type="password" value="password" name="password" [(ngModel)]="password">
  </mat-form-field>
</form>
<button mat-button color="accent" (click)=checkLogin() class="submit" >Submit</button>


<!--
<div class="container">
  <div>
    Email : <input type="text" name="email" [(ngModel)]="email">
    Password : <input type="password" name="password" [(ngModel)]="password">
    <button (click)=checkLogin() class="btn btn-success">
      Login
    </button>
  </div>
>

</div> -->
