<h3>Conserto's Events</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="createEventsFormGroup" (ngSubmit)="onSubmit()">
    <div class="form">
      <mat-form-field class="form">
        <input
          formControlName="name"
          matInput
          placeholder="name"
          type="text"
          required
          name="name"
          class="form-control"
        />
      </mat-form-field>

      <div class="form">
        <mat-form-field class="form">
          <input
            formControlName="localisation"
            matInput
            placeholder="localisation"
            type="text"
            required
            name="localisation"
            class="form-control"
          />
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="form">
          <input
            formControlName="content"
            matInput
            placeholder="content"
            type="text"
            required
            name="description"
            class="form-control"
          />
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field class="form">
          <input
            formControlName="date"
            matInput
            placeholder="date"
            type="datetime-local"
            required
            name="date"
            class="form-control"
          />
        </mat-form-field>
      </div>
      <button
        mat-button
        color="accent"
        type="submit"
        [disabled]="!createEventsFormGroup.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
